header, footer {
    color: white;
    background-color: black;
    margin: 5px;
    padding:5px;
    text-align: center;
}

nav a{
    color: powderblue;
    text-decoration: none;
    margin:5px;
    padding: 3px;
}
nav {
    padding:3px;
    background-color: darkred;
}
nav a:hover{
    color: black;
    background-color: powderblue;
    text-decoration: none;
    margin:5px;
    padding: 3px;
}

#logindiv {
    margin-left: 30%;
    width: 40%;
    text-align: center;
}

img {
    width:300px;
    height: 200px;
    border-radius: 1px;
}